<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Refresh</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <p>It seems you dropped the documents database. Please refresh it.</p>
        <form action="http://127.0.0.1:8000/">
            <button type="submit">Main page</button>
        </form>
    </div>
</body>
</html>