<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>validation</title>
</head>
<body>
<h2>Validation result:</h2>
<hr></hr>
    <div>
            <h3><a href="{{ item.date }}">{{ results.date }}</a></h3>
            <p>Accuracy - {{ results.accuracy }}</p>
            <p>Error - {{ results.error }}</p>
            <p>Recall - {{ results.recall }}</p>
            <p>Precision - {{ results.precision }}</p>
            <p>Fmeasure - {{ results.Fmeasure }}</p>
            <p>Avg precision - {{ results.avgPrecision }}</p>
            <hr></hr>
    </div>
</body>
</html>